@model List<Category>
<partial name="_Notification" />
<div>
    <div class="container row pt-4">
        <div class="text-primary col-6">
            Category List
        </div>
        <div class="text-end col-6">
            <a asp-controller="Cagetory" asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus-circle-fill"></i> Create New category
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Category  Name</th>
                <th> DisplayOrder</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.OrderBy(u => u.DisplayOrder))
            {
                <tr>
                    <td>
                        @obj.Name
                    </td>
                    <td>
                        @obj.DisplayOrder
                    </td>
                    <td class="btn btn-dark">
                    <a asp-controller="Cagetory"  asp-action="Update" asp-route-Id="@obj.Id">
                        Update
                    </a>
                    </td>
                    <td class="btn btn-danger">
                    <a asp-controller="Cagetory" asp-action="Delete" asp-route-Id="@obj.Id">
                        Delete
                    </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>